

{% extends 'main/layoute.html' %}

{% block title %}
    <title>{{caption}}</title>
{% endblock %}


{% block content %}
<!--    {% include 'main/nav.html' %}-->
    <h1>{{caption}}</h1>
    <br><br>
    <h4>Графики и диаграммы — это мощные инструменты визуализации данных, которые помогают понять сложную информацию на интуитивном уровне.</h4> <br><br>
    <h5>Существует несколько типов графиков, каждый из которых служит своей цели и подходит для различных видов данных.</h5>
    <br><br>
{% endblock %}
