{% extends 'main/layoute.html' %}

{% block title %}
    <title>{{caption}}</title>
{% endblock %}


{% block content %}
<!--    {% include 'main/nav.html' %}-->
    <h1>{{caption}}</h1>
    <br><br>
    <ul>
        <li>Линейные графики идеально демонстрируют изменения во времени, наглядно отображая тренды и колебания. </li>
        <br>
        <li>Столбчатые диаграммы позволяют сравнивать значения между разными группами, делая акцент на различиях и сходствах. </li>
        <br>
        <li>Круговые диаграммы визуализируют процентное соотношение частей к целому, что удобно при представлении составных данных.</li>
        <br>
        <li>Гистограммы, как разновидность столбчатых диаграмм, отображают распределение количественных данных, что помогает выявить закономерности.</li>
        <br>
        <li>Точечные графики показывают взаимосвязь между двумя переменными, позволяя исследовать корреляции.</li>
        <br>
        <li>Для многофакторного анализа часто используются пузырьковые графики, которые добавляют третий измерение к сравнению. </li>
        <br>
        <li>Наконец, диаграммы потока визуализируют процессы и взаимосвязи между элементами, эффективно демонстрируя динамику и переходы.</li>
        <br>
    </ul>
{% endblock %}

